# API
API_HOST=0.0.0.0
API_PORT=8000

SECRET=ABC123
EXPIRE_IN_SECONDS=3600

DATABASE_URL=postgresql+asyncpg://postgres:admin_password@postgres:5432/postgres

# POSTGRES
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=admin_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
LANG=en_US.UTF-8
LC_ALL=en_US.UTF-8
